 /*---------------------------------- rubrique Contacte ---------------------------------------------*/
        #contact{
            position : relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .contact-block{
            width: 60%;
            height: 85%;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            padding: 15px;
        }
        .contact-block2{
            position: absolute;
            background-color: white;
            z-index: 5;
            top: 200px;
            left: 20px;
            display: flex;
            flex-direction: column;
            width: 30%;
            height: 250px;
            text-align: center;
            justify-content: space-evenly;
        }
        @media screen and (max-width:900px){
            .contact-block2{
                width: 50%;
            }
        }
        .contact-block > h1{
            text-align: center;
        }
        .map{
            width: 100%;
            min-height: 100vh;
        }
        @media screen and (max-width: 600px){
            .contact-block{
                width: 95%;    
            }
            .contact-block > h1{
                font-size: 25px;
            }
            .contact-block2{
                top: 20%;
                width: 80%;
            }
        }
        
        @media screen and (min-width : 1500px){
            .contact-block{
                width: 60vw;
                padding: 1vw;
            }
            .contact-block > h1{
                font-size: 3vw;
            }
            .contact-block  label, .contact-block button, .contact-block input, .contact-block textarea{
                font-size: 1.3vw;
            }
            .form-control:focus{
                box-shadow: 0 0 0 0.2vw rgba(0,123,255,.25);
            }
            .contact-block input, .contact-block textarea{
                    border: 0.1vw solid #ced4da;
            }
            .contact-block button{
                border: 0.1vw solid #343a40!important;
            }
            .contact-block2{
                top:10vw;
                left: 5vw;
                width: 30vw;
                height: 20vw;
                font-size: 1.4vw;
            }
            .contact-block2 > h4{
                font-size: 1.8vw;
            }
        }