 /*------------------------------------------ section footer --------------------------------------*/
        footer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            background-color: #343a40!important;
        }
        footer > div{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
        }
        footer i{
            color: white;
        }
        .flaticon-tripadvisor-logotype:hover{
            color:#feca00;
        }
        .flaticon-linkedin:hover{
            color: #0090D3;
        }
        .flaticon-youtube:hover{
            color: #FF0000;        
        }
        .flaticon-google-plus:hover{
            color: #EF0039;
        }
        .flaticon-facebook-logo-button:hover{
            color: #5055B1;
        }
        .flaticon-twitter-logo-button:hover{
            color: #1B94F3;   
        }
        .flaticon-instagram-logo:hover{
            color: #ED007D;
        }