        /*---------------------------------rubrique formules ------------------------------------------------*/

        .animation{
            width: 15%;
            position: absolute;
        }
        .animation-container {
            width:25%;
            position: absolute;
            top: 21%;
        }
        .container-left{
            left: -1000px;
        }
        .container-right{
            right: -1000px;
        }
        .animation-left{
            left: -850px;

        }
        .animation-right{
            right: -850px
        }
        .animation-middel{
            top: -850px;
            right: 45%;
            width: 10%;
        }
        .sous-animation-right{
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 45%
        }
        .sous-animation-left{
            position: absolute;
            right: 0px;
            top: 0px;
            width: 45%;
        }



        #formules{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        #formules > div{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        .formule{
            position: relative;
            box-sizing: content-box;
            display: flex; flex-direction: column;
            justify-content: space-between;
            text-align: center;
            width: 30%;
            height: 205px;
            padding: 15px;
            overflow: hidden;
            cursor: progress;
        }
        .formule-nom{
            font-family: 'Pacifico', cursive;
        }
        @media screen and (max-width:935px){
            #formules > div{
                flex-direction: column;
            }
            .formule{
                width: 90%;
                margin: auto;
                margin-top : 10px;
            }
        }

        @media screen and (min-width:1500px){
            #formules > h1 {
                font-size: 3vw;
            }   
            #formules > div{
                width: 100%
            } 
            .formule{
                height: 36vh;
            }
            .formule-contenue{
                font-size: 1.2vw;
                height: 35%;
/*                background-color: red;*/
            }
            .formule-prix{
                font-size: 1.5vw;
                height: 12%;
/*                background-color: blue;*/
            }
            .formule-nom{
                height: 38%;
/*                background-color: green;*/
            }
            .formule-nom h4{
                font-size: 2.0vw;
                
            }
        }