/*------------------------------- block et généralité -----------------------------------------------*/
         :root{
            --margin: 5px;
            --padding: 10px;
        }
        @import url('https://fonts.googleapis.com/css?family=Galada|Poppins');
        body{
          position: relative;
          margin: 0px;
          padding: 0px;
          width: 100%;
          height: 100%;
          font-family: 'Poppins', sans-serif;
        }
        
        .titre{
            font-family: 'Galada', cursive;
        }
        .prix{
            font-family: 'Galada', cursive;
            font-weight: 600;
        }
        .body{
            width: 100%;
        }
    
        #block2 > .inner-block{
            width: 80%;
            height: 80%;
            margin: auto;
            display: flex;
            justify-content: space-around;
        }
        .inner-block{
            background-color: white;
            margin: 5px;
            height: 60%;
            padding: 10px;
        }
        .block{
            width: 100%;
            min-height: 100vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Poppins', sans-serif;
        }
        @media screen and (max-width : 550px){
        body{
          position: relative;
          margin: 0px;
          padding: 0px;
          width: 100%;
          height: 100%;
        }
            .block,.inner-block{
                width: 100%;
                margin: 0px;
                padding: 0px;
            }
        }