/*------------------------------- rubrique home -----------------------------------------------------*/
        .home-bienvenue{    
            border:  5px solid white;
            margin: auto;
            margin-bottom: 20px;
            margin-top: 10px;
            font-size: 40px;
            color: white;
            padding: 20px;
        }
        @media screen and (min-width:1500px){
            .home-bienvenue{
                font-size : 3vw;
                border:  0.6vw solid white;
                margin-bottom: 2.5vw;
            }
            #home > a > button{
                font-size: 1.6vw;
                border: 0.1vw solid #343a40!important;
            }
        }
        @media screen and (max-width:694px){
            .home-bienvenue{
                font-size: 1.8em;
            }
        }