        /*------------------------------- rubriqu Menu ------------------------------------------------------*/
        #menu{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        .menu-block{
            width: 90%;
            height: 75%;
            margin: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            background-color: transparent;
        }
        .menu-item{
            display: flex;
            flex-direction: column;
            width: 98%;
            height: 300px;
            text-align: center;
            align-items: center;
            margin: var(--margin);
            background-color: white;
        }
        .menu-item > div {
            box-sizing: border-box;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 50%;
            margin-bottom: 1vw;
        }
        .menu-item > div > div{
            font-size: 0.9em;
        }
        #menu .menu-item > div {
            padding: 1vw;
        }
        .menu-item > img {
            width: 100%;
            height: 50%;
        }
        @media screen and (max-width : 935px){
            .navi{
                display: none;
            }
            #formules > div{
                flex-direction: column;
            }
            .formule{
                width: 90%;
                margin: 15px 0px;
            }
        }
        @media screen and (max-width:694px){
            .menu-block{
                width: 100%;
            }
            #onglais-group{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
        @media screen and (min-width:1500px){
                #onglais-group{
                    margin-top: 10px;
                    justify-content: center;
                    width: 60vw;
                }
                #onglais-group button{
                    font-size: 1.4vw;
                    width: 15vw;
                    padding: 0.5vw
                }
                #menu .menu-item {
                    padding: 0px;
                    min-height: 37vh;
                }
                #menu .menu-item > img{
                    width: 100%;
                    height: 50%;
                }
                #menu .menu-item > div{
                    box-sizing: border-box;
                    padding: 0.8vh;
                    font-size: 1.1vw;
                    margin-left: 0px;
                    margin-bottom: 0.8vh;
                    height: 50%;
                    width: 100%;
                }
                #menu .menu-item > div > h4{
                    font-size: 1.3em;
                    font-weight: 500;
                }
        }