    /*------------------------------- barre de navigation -----------------------------------------------*/
        nav{
            position: fixed;
            top: 0px;
            font-family: 'Playfair Display', serif;
        }     
        nav > div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background: ;
            padding-top: 10px;
        }
        nav ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style: none;
            width: 60%;
            padding-left: 0px;
        }
        #barre-nav{
            display: flex;
            justify-content: space-between;
        }
        #logo{
            color: white;
            font-size: 20px;
        }
        @media screen and (min-width:1500px){
            nav{
                font-size: 1.2vw;
                
            }
            #logo{
                font-size: 1.2vw;
            }
        }