 /*------------------------------------------ section parallax -------------------------------------*/
        .parallax{
           background-attachment: fixed;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .slide1{
            background-image: url(../img/img4.jpg);
        }
        .slide2{
            background : url(../img/img2.jpg);
        }
        .slide3{
            background : url(../img/img5.jpg);
        }
        .slide4{
            background: url(../img/img6.jpg);
        }