        /*---------------------------------rubrique pizzas---------------------------------------------------*/
        #pizza{
            display: flex;
            flex-direction: column;
        }
        #pizza > .inner-block{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        #pizza .menu-item{
            width : 470px;
            height: 180px;
            text-align: left;
            flex-direction: row;
            padding: var(--padding);
        }
        #pizza .menu-item p{
            font-size: 0.9em;
        }
        #pizza .menu-item > div{
            justify-content: space-evenly;
            height: 100%;
            margin-left: 1vw;
        }
        #pizza .menu-item img{
            width: 100px;
            height: 100px;
        }
        @media screen and (min-width : 1500px){
            #pizza .menu-item{
                width: 35vw;
                height: 20vh;
                font-size: 1.2vw;
                margin: 1vw;
            }
            #pizza .menu-item p{
            font-size: 0.8vw;
            }
            #pizza .menu-item > img {
                height: 5vw;
                width: 5vw;
            }
            #pizza .menu-item h4{
                font-size: 1.5vw;
                font-weight: 400;
            }
        }
        @media screen and (max-width : 500px){
            #pizza .menu-item{
                width : 100%;
                min-height: 200px;
            }
            #pizza .menu-item p{
                font-size: 0.7em;
            }
        }