        /*---------------------------------- rubrique plat du jour-----------------------------------------*/
        #pj{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        #pj > h1{
            color: white;
        }
        #pj > div{
                width:85vw;
        }
        @media screen and (max-width : 1500px){
             #pj > div{
                width:95vw;
        }   
        }
        @media screen and (min-width : 1500px){
            #pj > h1{
                font-size: 3vw;
            }
            
            #pj .menu-item {
                padding: 0px;
                min-height: 37vh;
            }
            #pj .menu-item > img{
                width: 100%;
                height: 50%;
            }
            #pj .menu-item > div{
                box-sizing: border-box;
                padding: 0.8vh;
                font-size: 1.1vw;
                margin-left: 0px;
                margin-bottom: 0.8vh;
                height: 50%;
                width: 100%;
            }
            #pj .menu-item > div > h4{
                font-size: 1.3em;
                font-weight: 500;
            }
        }