        /*---------------------------------- box shadow ----------------------------------------------------*/
        .shadow3:before, .shadow3:after{
          content:"";
          position:absolute;
          bottom:0;top:2px;left:15px;right:15px;
          z-index:-1;
          border-radius:100px/30px;
        }
        .shadow3{
              position:relative;
                box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
        }