	/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/06/2018 21:25
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 1.3em;
font-style: normal;
margin-left: 20px;
}

.flaticon-tripadvisor-logotype:before { content: "\f100"; }
.flaticon-linkedin:before { content: "\f101"; }
.flaticon-youtube:before { content: "\f102"; }
.flaticon-google-plus:before { content: "\f103"; }
.flaticon-facebook-logo-button:before { content: "\f104"; }
.flaticon-twitter-logo-button:before { content: "\f105"; }
.flaticon-instagram-logo:before { content: "\f106"; }